*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-main: #fffff4;
    --bg-color: #008c9e;
    --global-margin: 0rem 2rem;
}

body{
    background-color: var(--bg-main);
    font-family: "Roboto", sans-serif;
}

.headings{
    font-family: "Playfair Display", sans-serif;
}

header{
    padding: var(--global-margin);
    padding-top: 2rem;
    padding-bottom: 4rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid black;
    min-height: 100vh;
}

.header-bg-shape{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: var(--bg-color);
    z-index: -1;
    transform: skewY(-15deg);
}

#profile-image-container{
    background-image: url("./images/cat.jpg");
    background-size: cover;
    background-position: center;
    max-width: 250px;
    height: 250px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-radius: 8px;
}

#name-text{
    text-align: left;
    font-size: 2.4rem;
    position: absolute;
    top: 55%;
    left: 50%;
    color: white;
    transform: translateX(-50%);
}

#about-title{
    text-align: center;
    padding-top: 1.5rem;
}

header > p{
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    line-height: 1.5;
}

#social-links-wrapper{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-links{
    height: 3rem;
    width: 3rem;
}

section{
    padding: var(--global-margin);
}

.project{
    border: 2px solid black;
}

footer{
    background-color: var(--bg-color);
}

.footer-content{
    padding: var(--global-margin);
}

#footer-img{
    max-width: 200px;
    height: auto;
}