* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --bg-main: #fffff4;
    --bg-color: #008c9e;
    --global-side-padding: 0rem 2rem;
}

body {
    background-color: var(--bg-main);
    font-family: "Roboto", sans-serif;
}

.headings {
    font-family: "Playfair Display", sans-serif;
}

header {
    padding: var(--global-side-padding);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 4rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
    min-height: 100vh;
}

.header-bg-shape {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 300px;
    background-color: var(--bg-color);
    z-index: -1;
    transform: skewY(-15deg);
}

.header-card {
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    overflow: hidden;
    max-width: 100%;
    width: 90vw;
    margin: 0 auto;
}

.header-left{
    position: relative;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    width: 80vw;
    left: 50%;
    transform: translate(-50%);
}

#profile-image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

#name-text {
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2.2rem;
    color: #ffc300;
    text-shadow: 2px 2px 6px black;
    z-index: 10;
  }

.header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

#about-title {
    text-align: center;
    padding-top: 1.5rem;
}

header > p {
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    line-height: 1.5;
}

#social-links-wrapper {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.social-links {
    height: 3rem;
    width: 3rem;
}

section {
    padding: var(--global-side-padding);
    padding-bottom: 8rem;
}

section > h1 {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1.2rem;
}

.project-wrapper {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.project {
    height: 25rem;
    box-shadow: 0px 5px 10px grey;
}

.project > .top {
    height: 60%;
    background-color: darkorchid;
    color: var(--bg-main);
    display: flex;
    justify-content: center;
    align-items: center;
}

.project > .bottom {
    height: 40%;
    padding: 1rem;
}

.project > .bottom > p {
    padding-top: 0.8rem;
}

footer {
    background-color: var(--bg-color);
    color: var(--bg-main);
    padding-top: 1rem;
    position: relative;
}

.footer-content {
    padding: var(--global-side-padding);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    position: relative;
    padding-bottom: 600px;
}

.footer-content > .headings {
    text-align: center;
}

#footer-img {
    padding-top: 2rem;
    display: block;
    margin: 0;
    width: 100%;
    height: 600px;
    position: absolute;
    object-fit: cover;
    bottom: 0;
    left: 0;
}

/* TABLET LAYOUT */
@media (min-width: 768px) {
    header {
        min-height: 100%;
    }

    .header-card {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 100vh;
        margin: 0 auto;
        padding: 2rem;
        background-color: var(--bg-main);
        border-radius: 16px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
        position: relative;
        overflow: visible;
    }

    .header-left {
        position: relative;
        width: 50%;
        overflow: visible;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
    }

    #img-wrapper{
        width: 50%;
    }

    #profile-image {
        width: 100%;
        height: auto;
        border-radius: 20px;
        object-fit: cover;
        transform: scale(1.2);
        transform-origin: center;
        box-shadow: 0 10px 25px rgba(0, 0, 0, 0.25);
    }

    .header-right {
        max-width: 50%;
        padding-left: 2rem;
    }

    #social-links-wrapper {
        justify-content: flex-start;
    }

    .social-links {
        padding: 0.5rem 0rem;
    }

    #about-title {
        padding-top: 1.5rem;
        align-self: flex-start;
    }

    #name-text {
        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.2rem;
        color: #ffc300;
        text-shadow: 2px 2px 6px black;
        z-index: 5;
    }
}
